<!-- start: benefit -->
<section id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="benefit">
    <div class="section-icons">
        <div class="container no-style w-container">
            <div class="section-icons__block">
                <div class="icon-image__block"><img class="section-icons__icon blur-up Image--lazyLoaded" alt="thin sole icon" width="150" height="150" src="https://cdn.shopify.com/s/files/1/0699/9926/4033/files/5.png?v=1679968688"><div class="section-icons__text">
                        <span class="section-icons-heading">
                            Accurate
                        </span>
                    <span class="section-icons-description">
                            More accurate results by Innovative multielectrode technology and assembly process.
                        </span>
                </div>
                </div>

                <div class="icon-image__block"><img class="section-icons__icon blur-up Image--lazyLoaded" alt="Breite Zehenbox icon" width="150" height="150" src="https://cdn.shopify.com/s/files/1/0699/9926/4033/files/6.png?v=1679968688"><div class="section-icons__text">
                        <span class="section-icons-heading">
                            Fast Result
                        </span>
                    <span class="section-icons-description">
                            Thanks to the high-performance chip, results in 5s. No coding and easy to operate.
                        </span>
                </div>
                </div>

                <div class="icon-image__block"><img class="section-icons__icon blur-up Image--lazyLoaded" alt="Nullabsatz icon" width="150" height="150" src="https://cdn.shopify.com/s/files/1/0699/9926/4033/files/7.png?v=1679968688"><div class="section-icons__text">
                        <span class="section-icons-heading">
                            FDA Approved
                        </span>
                    <span class="section-icons-description">
                            AC/FDA/ISO certified, excellent accuracy & reliable quality， 0.5μL less blood required.
                        </span>
                </div>
                </div>

                <div class="icon-image__block"><img class="section-icons__icon blur-up Image--lazyLoaded" alt="Flexibel icon" width="150" height="150" src="https://cdn.shopify.com/s/files/1/0699/9926/4033/files/8.png?v=1679968688"><div class="section-icons__text">
                        <span class="section-icons-heading">
                            No Pain
                        </span>
                    <span class="section-icons-description">
                            Painless collection, 0.3mm lancet with 5 adjustable depths, small wound & quick healing.
                        </span>
                </div>
                </div>
            </div>

            <div class="btn-wrapper center">
                <a href="/pages/brand-story" class="button-secondary-outline">
                    More Info <i class="fg-i fg-i-arrow-right btn-icon--right" aria-hidden="true"></i>
                </a>
            </div>

        </div>
    </div>
</section>

<style>
    .section-icons__icon{height:150px;width:150px}
    .section-icons__text{-ms-flex-item-align:center;-ms-grid-row-align:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-moz-box-orient:vertical;-moz-box-direction:normal;-webkit-align-self:center;align-self:center;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;text-align:center}
    .section-icons-heading{font-size:18px;font-weight:600;margin-top:.25rem}
    .section-icons-description{margin-top:.25rem}
    .section-icons{display:block;}
    .section-icons__block{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:-moz-box;display:flex}
    .section-icons__block{-webkit-box-pack:justify;-ms-flex-pack:justify;-moz-box-pack:justify;-webkit-justify-content:space-between;justify-content:space-between;margin-bottom:20px}
    @media(max-width:767px){.section-icons{padding:30px 0}}.section-icons.section-icons__block{margin:1rem auto 3rem}@media(max-width:767px){.section-icons .section-icons__block{grid-template-columns:1fr 1fr}}@media(max-width:991px){.section-icons .btn-wrapper{margin-top:45px}}.section-icons .section-icons__icon{height:150px;-o-object-fit:contain;object-fit:contain;-o-object-position:center;object-position:center;width:150px}@media(min-width:479px)and (max-width:991px){.section-icons .section-icons__icon{height:120px;width:120px}}.section-icons .icon-image__block{-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-box-pack:start;-moz-box-pack:start;-ms-flex-pack:start;-webkit-align-items:center;align-items:center;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-justify-content:flex-start;justify-content:flex-start}@media(max-width:1199px){.section-icons .icon-image__block{-webkit-box-orient:vertical;-webkit-box-direction:normal;-moz-box-orient:vertical;-moz-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}}
    @media screen and (max-width:1289px){.section-icons__block{grid-column-gap:16px;grid-row-gap:16px;-ms-grid-columns:1fr 1fr;-ms-grid-rows:auto auto;-webkit-column-gap:16px;-moz-column-gap:16px;column-gap:16px;display:-ms-grid;display:grid;grid-auto-columns:1fr;grid-template-columns:1fr 1fr;grid-template-rows:auto auto;justify-items:center;row-gap:16px}}
    @media(min-width:992px){.w-container{max-width:1470px;}}
    .section-icons__text{padding-left:0}
    .row.is--landscape{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:-moz-box;display:flex;font-size:15px}
    @media screen and (max-width:767px){.teaser-hero-block{padding:0 10px 20px 20px}.column.no-padding{-webkit-box-flex:0;-moz-box-flex:0;-webkit-flex:0 auto;-ms-flex:0 auto;flex:0 auto}.footer{padding:40px 20px}.footer__main-footer-link-image{-o-object-fit:contain;object-fit:contain}.info-badge-wrapper{margin-bottom:20px}.heading-product-information{font-weight:600}.section-icons{margin-top:220px;padding-top:0}.row.is--landscape{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:-moz-box;display:flex;font-size:15px}.section-icons__block{-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-moz-box-orient:vertical;-moz-box-direction:normal;-webkit-align-items:center;align-items:center;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;margin-top:0px}.modal-backdrop{padding:40px 20px}.shopping-cart__heading{font-size:11px}.p-l-20{padding-left:0;padding-top:20px}.team-block__image{height:100px;width:100px}}
    .section-icons__text{padding-left:0}
    .btn-wrapper{-webkit-box-pack:center;-ms-flex-pack:center;-moz-box-pack:center;-webkit-box-align:center;-ms-flex-align:center;-moz-box-align:center;-webkit-align-items:center;align-items:center;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:-moz-box;display:flex;-webkit-justify-content:center;justify-content:center;margin-bottom:20px;margin-top:0}
    .btn-wrapper.is--left{-webkit-box-pack:start;-ms-flex-pack:start;-moz-box-pack:start;-webkit-justify-content:flex-start;justify-content:flex-start}
    .btn-wrapper.is--left.is--mobile .btn-wrapper.is--left.is--mobile.center{-webkit-box-pack:center;-ms-flex-pack:center;-moz-box-pack:center;-webkit-justify-content:center;justify-content:center}
    .btn-wrapper.is--left.is--mobile.padding{padding-left:10px;padding-right:10px}.btn-wrapper.center-mobile{-webkit-box-pack:center;-ms-flex-pack:center;-moz-box-pack:center;-webkit-justify-content:center;justify-content:center}
    .btn-wrapper.p-b-60{margin-bottom:60px}
    .btn-wrapper{-webkit-box-pack:center;-moz-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center}
    .btn-wrapper{margin-top:25px}
    .btn-wrapper{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:-moz-box;display:flex;margin-bottom:20px;margin-top:20px}.btn-wrapper,.btn-wrapper.is--left{-webkit-box-pack:start;-ms-flex-pack:start;-moz-box-pack:start;-webkit-justify-content:flex-start;justify-content:flex-start}.btn-wrapper.is--left{-webkit-box-align:center;-ms-flex-align:center;-moz-box-align:center;-webkit-align-items:center;align-items:center}.btn-wrapper.is--left.is--mobile.center{-webkit-box-pack:start;-ms-flex-pack:start;-moz-box-pack:start;-webkit-justify-content:flex-start;justify-content:flex-start}.btn-wrapper.wrapper-sm{margin-top:20px}.btn-wrapper.padding-top{margin-bottom:0;margin-top:40px}.btn-wrapper.center-mobile{-webkit-box-pack:start;-ms-flex-pack:start;-moz-box-pack:start;-webkit-justify-content:flex-start;justify-content:flex-start}.btn-wrapper.center,.btn-wrapper.center-mobile.center-desktop{-webkit-box-pack:center;-ms-flex-pack:center;-moz-box-pack:center;-webkit-justify-content:center;justify-content:center}
    .btn-wrapper.is--left.is--mobile.center{-webkit-box-pack:center;-ms-flex-pack:center;-moz-box-pack:center;-webkit-justify-content:center;justify-content:center}
    .icon-image__block,.product-info__text-block{-webkit-box-orient:vertical;-webkit-box-direction:normal;-moz-box-orient:vertical;-moz-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
    .icon-image__block{-webkit-box-align:center;-ms-flex-align:center;-moz-box-align:center;-webkit-align-items:center;align-items:center;margin-right:0;max-width:280px}.icon-image__block.product-teaser__image{display:block;height:100%;-o-object-fit:cover;object-fit:cover;position:relative;width:100%}
    .icon-image__block{-webkit-box-orient:vertical;-webkit-box-direction:normal;-moz-box-orient:vertical;-moz-box-direction:normal;-webkit-box-align:center;-ms-flex-align:center;-moz-box-align:center;-webkit-align-items:center;align-items:center;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:-moz-box;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
    .icon-image__block{display:block}
    @media (min-width: 992px).w-container {max-width: 1470px;}
        .container.no-style {display: block; position: static;}
        .container {padding: 0 20px;}
        .w-container {margin-left: auto; margin-right: auto;}
        .section-icons {margin-top: 50px; margin-bottom: 50px;}
        .button-secondary-outline {border: 1px solid #242424; border-radius: 22222px; color: #000;}
        .button-secondary-outline, .button-secondary-outline-white {
            margin-top: 50px;
            -webkit-box-align: center;
            align-items: center;
            background-color: #fff;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: -.3px;
            padding: 0.75rem 2.5rem;
            text-transform: none;
            transition: all .3s;
            white-space: nowrap;
        }
</style>

{% schema %}
{
    "name": "benefit",
    "class": "shopify-section-benefit",
    "settings": [],
    "blocks": [],
    "presets": [
        {
            "category": "Image",
            "name": "benefit",
            "settings": {}
        }
    ]
}
{% endschema %}

<!-- end: benefit -->
